<html>
<head>
<style>

</style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Assign Subject</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/sl-slide.css">
	<link rel="stylesheet" href="css/admin_addTeacherSubject.css">
    <link rel="stylesheet" href="css/body.css">
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script src="jquery-3.2.1.min.js"></script>
	<script src="js/admin_addTeacherSubject.js"></script>

    <link rel="shortcut icon" href="images/favicon.png">
     <!-- endbuild -->
</head>

<body>
    <!--Header-->
    <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a id="logo" class="pull-left" href="index.html"></a>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li ><a href="admin_login.html">Home</a></li>
                        <li class="active"><a href="adminAllTeacherList.html">Teacher</a></li>
                        <li><a href="adminAllStudentList.html">Student</a></li>
                        <li><a href="admin_notification.html">Add notification</a></li>
						<li><a href="logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- /header -->
<div id="left1">
    <center>
        <br>
<input type="button" name="class_name_btn" id="class_name_btn" value="Add Class">
<input type="button" name="lab_name_btn" id="lab_name_btn" value="Add Lab">
<form id="classform">

<div id="fill_class_details_div" style="display:none">
    <br>
<table id="fill_class_details">
<tr>
     <td><lebel id="star" style="color:red">*</lebel>Subject Name :</td>
     <td><input type="text" name="class_sub_name" id="class_sub_name" required></td>

</tr>
<tr>
     <td><lebel id="star" style="color:red">*</lebel>Class :</td>
     <td><select id="class_class_name" required>
     <option value="">class</option>
     <option value="csea" name="csea">CSE A</option>
     <option value="cseb" name="cseb">CSE B</option>
     <option value="ecea" name="ecea">ECE A</option>
     <option value="eceb" name="eceb">ECE B</option>
     <option value="mech" name="mech">MECH</option>
     <option value="bt" name="bt">BT</option>
     </select></td>

</tr>
<tr>
     <td><lebel id="star" style="color:red">*</lebel>Semester :</td>
     <td><select name="class_sem" id="class_sem" required>
        <option value="">Semester</option>
        <option value="1" name="1">1</option>
     <option value="2" name="2">2</option>
     <option value="3" name="3">3</option>
     <option value="4" name="4">4</option>
     <option value="5" name="5">5</option>
     <option value="6" name="6">6</option>
     <option value="7" name="7">7</option>
     <option value="8" name="8">8</option>

     </select></td>

</tr>
    <tr>
        <td><lebel id="star" style="color:red">*</lebel>Batch :</td>
        <td><input type="text" name="class_batch" id="class_batch" required></td>

    </tr>


</table>
<input type="submit"  id="class_submit" value="Submit">
</div>
</form>
<form id="labform">
<div id="fill_lab_details_div" style="display:none">
<table id="fill_lab_details">
<tr>
     <td><lebel id="star" style="color:red">*</lebel>Subject Name :</td>
     <td><input type="text" name="lab_sub_name" id="lab_sub_name" required></td>

</tr>
<tr>
     <td><lebel id="star" style="color:red">*</lebel>Class :</td>
    <td><select id="lab_class_name" required>
    <option value="">class</option>
     <option value="csea" name="csea">CSE A</option>
     <option value="cseb" name="cseb">CSE B</option>
     <option value="ecea" name="ecea">ECE A</option>
     <option value="eceb" name="eceb">ECE B</option>
     <option value="mech" name="mech">MECH</option>
     <option value="bt" name="bt">BT</option>
     </select></td>

</tr>
<tr>
     <td><lebel id="star" style="color:red">*</lebel>Semester :</td>
      <td><select id="lab_sem" required>
        <option value="">Semester</option>
    <option value="1" name="1">1</option>
     <option value="2" name="2">2</option>
     <option value="3" name="3">3</option>
     <option value="4" name="4">4</option>
     <option value="5" name="5">5</option>
     <option value="6" name="6">6</option>
     <option value="7" name="7">7</option>
     <option value="8" name="8">8</option>

     </select></td>

</tr>
<tr>
     <td><lebel id="star" style="color:red">*</lebel>Class Group :</td>
      <td><select id="lab_group" required>
     <option value="">Group</option>
     <option value="1" name="1">1</option>
     <option value="2" name="2">2</option>
     <option value="3" name="3">3</option>

     </select></td>

</tr>
    <tr>
        <td><lebel id="star" style="color:red">*</lebel>Batch :</td>
        <td><input type="text" name="lab_batch" id="lab_batch" required></td>

    </tr>


</table>
<input type="submit"  id="lab_submit" value="Submit">
</div>


 </form>

    <table id="subject_edit_delete_table">
        <tr>
            <th>Email id</th>
            <th>Subject Name</th>
            <th>Class</th>
            <th>Semester</th>


            <th>Delete</th>

        </tr>
    </table>
</center></div>
      <script src="js/common.js"></script>
       <!-- endbuild -->
</body>
</html>
