<!DOCTYPE html>
<html>
<head>


    <title>Change Password</title>
    <link rel="stylesheet" href="css/style.css">
     <!-- endbuild -->
</head>
<body>

<div class="main_page">
    <div class="main_container">

        <div class="frame">
            <div class="heading">
                <h2>
                    Change Your Password
                </h2>
                <p>
                    Password will be sent to your email.
                </p>
            </div>
            <div class="login">
                <p>
                    <input type="password" id="oldPassword" placeholder="OLD PASSWORD">
                </p>
                <p>
                    <input type="text" id="newPassword" placeholder="NEW PASSWORD">
                </p>
                <p>
                    <input type="text" id="confirmPassword" placeholder="CONFIRM PASSWORD">
                </p>
                <p id="wrongdetails" style="display: none;">
                    <label style="color: red;">
                        WRONG PASSWORD.
                    </label>
                </p>
                <p>
                    <button class="login_btn" id="submit">Submit</button>
                </p>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/changePassword.js"></script>
 <!-- endbuild -->
</body>
</html>
