<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Login</title>
		<link rel="stylesheet" href="css/style.css">
		 <!-- endbuild -->
	</head>
	<body id="a">
		<div class="main_page">
			<div class="main_container">

				<div class="frame">
					<div class="heading">
						<h2>
							Welcome
						</h2>
						<p>
							Please Enter Details to Login.
						</p>
					</div>
					<div class="login">
								 <p>
									<input type="text" id="loginusername" placeholder="UserName">
								</p>
								<p>
									<input type="password" id="loginpassword" placeholder="Password">
								</p>
								<p id="wrongdetails" style="display: none;">
									<label style="color: red;">
										WRONG UESRNAME OR PASSWORD
									</label>
								</p>
								<p>
									<button class="login_btn" id="loginbtn">login</button>
								</p>
								<div class="extrabuttons" style="margin:15px">
									<p>

										<a href="/forgotPass.html" style="float:left">Forgot Password?</a>
									</p>
								</div>
					</div>
				</div>
			</div>
		</div>

		<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script-->
		  <script src="js/vendor/jquery-1.9.1.min.js"></script>
		<script src="js/loginscript.js"></script>
		 <!-- endbuild -->

	</body>
</html>
