<head>
<style>

</style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sessional</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/sl-slide.css">
	<link rel="stylesheet" href="css/student_sessional.css">
    <link rel="stylesheet" href="css/body.css">
     <!-- endbuild --> 
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <link rel="shortcut icon" href="images/favicon.png">
</head>

<body>
    <!--Header-->
    <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a id="logo" class="pull-left" href="index.html"></a>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li ><a href="student_login.html">Home</a></li>
                        <li><a href="student_attendence.html">Attendence</a></li>
                        <li><a href="student_result.html">Result</a></li>
                        <li class="active"><a href="change_Password.html">Change Password</a></li>
						<li><a href="student_profile.html">Profile</a></li>
                        <li><a href="student_contactUs.html">Contact Us</a></li>
						<li><a href="logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- /header -->
	<div class="body1">
	<div class="left1">
	<h1>Sessional</h1>

	</div>
	<div class="right1">
	notification
	</div>

	</div>




    <script src="js/vendor/jquery-1.9.1.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/jquery.ba-cond.min.js"></script>
    <script src="js/jquery.slitslider.js"></script>
  <script src="js/common.js"></script>
   <!-- endbuild --> 
</body>
</html>
