<head>
<style>

</style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Change Password</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/sl-slide.css">
	<link rel="stylesheet" href="css/teacher_contactUs.css">
 <!-- endbuild --> 
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <link rel="shortcut icon" href="images/favicon.png">
</head>

<body>
    <!--Header-->
    <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a id="logo" class="pull-left" href="index.html"></a>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li ><a href="teacher_login.html">Home</a></li>
                        <li><a href="teacher_takeAttendence.html">Take Attendance</a></li>
                         <li><a href="change_Password.html">Change Password</a></li>
                        <li><a href="teacher_notification.html">Add Notification</a></li>
                        <li class="active"><a href="teacher_contactUs.html">Contact Us</a></li>
						<li><a href="logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- /header -->
	<div class="body1">
	<div class="left1">
<div class="container" >



<center>
<h2 style="font-family: Monotype Corsiva;"><b>University Institute Of Engineering and Technology</b></h2>
<div style="font-family: open_sansregular;">
<h4 >(Recognized by UGC under Section 2(f) & 12(B) of the UGC act 1956)<br>
A Constituent Autonomous Institute </h4>
<h3><b>KURUKSHETRA UNIVERSITY KURUKSHETRA</b></h3>
<h4>(Established by the State Legislature Act XII of 1956)<br>
</h4>
<h4><b>Phone No.   : 01744-239155<br>
Fax.              :   01744-238967<br>
Kurukshetra, Haryana,<br>
India.<br>
Pin Code    : 136119</b></h4>

<h4>
<a href="http://www.uietkuk.org/downloads/UIET_EPABX%20NUMBERS.pdf">
</a></h4>
</div>
</center>
 </div>


	</div>





    <script src="js/vendor/jquery-1.9.1.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/jquery.ba-cond.min.js"></script>
    <script src="js/jquery.slitslider.js"></script>
      <script src="js/common.js"></script>
       <!-- endbuild --> 
</body>
</html>
