






@media only screen and (min-width: 100px) and (max-width: 768px)
{
.body1{
height:480px;

}
.left1{
width:50%;
background: linear-gradient(#00c6ff,#0072ff);

float:left; 
height:480px;

overflow-y:scroll;

}
 ul li a {
color: black;
}
.right1{
width:50%; 
background: linear-gradient(#00c6ff,#0072ff);

float:left; 
height:480px;
overflow-y:scroll;
}
}
@media  only screen and (min-width: 768px)
{
.body1{
height:635px;

}
.left1{
width:50%;
background: linear-gradient(#00c6ff,#0072ff);

float:left; 
height:635px;

overflow-y:scroll;

}
 ul li a {
color: black;
}

.right1{
width:50%; 
background: linear-gradient(#00c6ff,#0072ff);

float:left; 
height:635px;
overflow-y:scroll;
}

}