.body1{
height:562px;

}
.left1{
width:70%;
background: linear-gradient(#00c6ff,#0072ff);
background-coor:teal;
float:left; 
height:562px;

overflow-y:scroll;

}
.right1{
width:30%; 
background: linear-gradient(#00c6ff,#0072ff);
backgroundcolor:silver;
float:left; 
height:562px;

}
