@media only screen and (min-width: 100px) and (max-width: 768px) {
    ul li a {
        color: black;
    }
    .left1 {
        background: linear-gradient(#00c6ff, #0072ff);
        height: 480px;
        width: 50%;
    }
    .right1 {
        background: linear-gradient(#00c6ff, #0072ff);
        height: 480px;
        width: 50%;
    }
    .top1 {
        background: linear-gradient(#00c6ff, #0072ff);
        height: 240px;
        width: 100%;
        overflow-y: scroll;
    }
    .down1 {
        background: linear-gradient(#00c6ff, #0072ff);
        height: 240px;
        width: 100%;
        overflow-y: scroll;
    }
    #send_div {
        width: 100%;
        height: 40px;
    }
    #msgdiv {
        width: 100%;
        height: 400px;
        overflow-y: auto;
    }
}

@media only screen and (min-width: 768px) {
    .left1 {
        background: linear-gradient(#00c6ff, #0072ff);
        height: 635px;
        width: 50%;
    }
    .right1 {
        background: linear-gradient(#00c6ff, #0072ff);
        height: 635px;
        width: 50%;
    }
    .top1 {
        background: linear-gradient(#00c6ff, #0072ff);
        height: 318px;
        width: 100%;
        overflow-y: scroll;
    }
    .down1 {
        background: linear-gradient(#00c6ff, #0072ff);
        height: 317px;
        width: 100%;
        overflow-y: scroll;
    }
    #send_div {
        width: 100%;
        height: 40px;
    }
    #msgdiv {
        width: 100%;
        height: 535px;
        overflow-y: auto;
    }
    ul li a {
        color: black;
    }
}