



@media only screen and (min-width: 100px) and (max-width: 768px)
{

.left1{
width:100%;
background: linear-gradient(#00c6ff,#0072ff);
height:480px;

}

}
@media  only screen and (min-width: 768px)
{

.left1{
width:100%;
background: linear-gradient(#00c6ff,#0072ff);
height:635px;

}


}